---
// Footer component
import { useTranslations } from "../../i18n/utils";
import { getServices } from "../../utils/data-store";
import type { ComponentProps } from "../../types";

interface Props extends ComponentProps {}

const { lang } = Astro.props;
const t = useTranslations(lang);
const currentYear = new Date().getFullYear();
const services = getServices(lang);
---

<!-- Start Footer -->
<footer class="cs-fooer">
    <div class="cs-fooer_main">
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-footer_item">
                        <div class="cs-text_widget">
                            <img
                                src="/assets/img/logos/x_logo_transparentpage.png"
                                alt="XSoftHub consultants"
                            />
                            <p>{t("contact.footer.welcome")}</p>
                        </div>
                        <div class="cs-social_btns cs-style1"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-footer_item">
                        <h2 class="cs-widget_title">
                            {t("contact.footer.services.title")}
                        </h2>
                        <ul class="cs-menu_widget cs-mp0">
                            {services.map((service) => (
                                <li>
                                    <a href={service.link}>{service.title}</a>
                                </li>
                            ))}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-footer_item">
                        <h2 class="cs-widget_title">
                            {t("nav.solutions" as any)}
                        </h2>
                        <ul class="cs-menu_widget cs-mp0">
                            <li><a href={`/${lang}/solutions`}>{t("nav.solutions" as any)}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-footer_item">
                        <h2 class="cs-widget_title">
                            {t("contact.footer.contact.title")}
                        </h2>
                        <ul class="cs-menu_widget cs-mp0">
                            <li>info@xsofthub.com</li>
                            <li><a href={`/${lang}/terms`}>{t("legal.nav.terms" as any)}</a></li>
                            <li><a href={`/${lang}/privacy`}>{t("legal.nav.privacy" as any)}</a></li>
                            <li><a href={`/${lang}/kyc-aml`}>{t("legal.nav.kyc" as any)}</a></li>
                            <li><a href={`/${lang}/refund`}>{t("legal.nav.refund" as any)}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="cs-bottom_footer" style="justify-content: center;">
            <div class="cs-copyright">Copyright © {currentYear}.</div>
        </div>
    </div>
</footer>
<!-- End Footer -->
