---
import { useTranslations } from "../i18n/utils";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { Arrow } from "../components/icons/ui";
import { Phone, Email, Location } from "../components/icons/contact";
import type { OptionalLanguageProps } from "../types";
import { getServices } from "../utils/data-store";

interface Props extends OptionalLanguageProps {}

const { lang = "es" } = Astro.props;
const t = useTranslations(lang);
const services = getServices(lang);
---

<!-- Start Header Section -->
<header class="cs-site_header cs-style1 text-uppercase cs-sticky_header">
  <div class="cs-main_header">
    <div class="container">
      <div class="cs-main_header_in">
        <div class="cs-main_header_left">
          <a class="cs-site_branding" href={`/${lang}`}>
            <img
              src="/assets/img/logos/x_logo_transparentpage.png"
              alt="XSoftHub Ventures Logo"
            />
          </a>
        </div>
        <div class="cs-main_header_center">
          <div class="cs-nav cs-primary_font cs-medium">
            <ul class="cs-nav_list">
              <!-- <li class="menu-item-has-children cs-mega_menu">
                <a href={`/${lang}`}>Home</a>
                <ul class="cs-mega_wrapper">
                  <li>
                    <ul>
                      <li>
                        <a href={`/${lang}`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/main-home.jpeg" alt="Main Home" />
                        </a>
                        <a href={`/${lang}`}>Main Home</a>
                      </li>
                      <li>
                        <a href={`/${lang}/showcase-portfolio`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/showcase.jpeg" alt="Showcase Portfolio" />
                        </a>
                        <a href={`/${lang}/showcase-portfolio`}>Showcase Portfolio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href={`/${lang}/photography-agency`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/photography-agency.jpeg" alt="Photography Agency" />
                        </a>
                        <a href={`/${lang}/photography-agency`}>Photography Agency</a>
                      </li>
                      <li>
                        <a href={`/${lang}/case-study-showcase`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/case_study_showcase.jpeg" alt="Case Study Showcase" />
                        </a>
                        <a href={`/${lang}/case-study-showcase`}>Case Study Showcase</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href={`/${lang}/creative-portfolio`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/portfolio.jpeg" alt="Creative Portfolio" />
                        </a>
                        <a href={`/${lang}/creative-portfolio`}>Creative Portfolio</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href={`/${lang}/digital-agency`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/digital-agency.jpeg" alt="Digital Agency" />
                        </a>
                        <a href={`/${lang}/digital-agency`}>Digital Agency</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href={`/${lang}/marketing-agency`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/marketing.jpeg" alt="Marketing Agency" />
                        </a>
                        <a href={`/${lang}/marketing-agency`}>Marketing Agency</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <ul>
                      <li>
                        <a href={`/${lang}/freelancer-agency`} class="cs-nav_list_img">
                          <img src="/assets/img/demo/freelancer-agency.jpeg" alt="Freelancer Agency" />
                          <span class="cs-header_badge">New</span>
                        </a>
                        <a href={`/${lang}/freelancer-agency`}>Freelancing Agency</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li> -->
              <!-- <li><a href={`/${lang}/about`}>About</a></li> -->
              <li class="menu-item-has-children">
                <a>{t("nav.services")}</a>
                <ul>
                  {
                    services.map((service) => (
                      <li>
                        <a href={service.link}>{service.title}</a>
                      </li>
                    ))
                  }
                </ul>
              </li>
              <li>
                <a href={`/${lang}/solutions`}>{t("nav.solutions" as any)}</a>
              </li>
              <li class="menu-item-has-children">
                <a>Pages</a>
                <ul>
                  <li><a href={`/${lang}/contact`}>Contact</a></li>
                  <!-- <li><a href={`/${lang}/team`}>Team</a></li> -->
                  <!-- <li><a href={`/${lang}/team/details`}>Team Details</a></li> -->
                  <!-- <li>
                    <a href={`/${lang}/case-study/details`}
                      >Case Study Details</a
                    >
                  </li> -->
                  <li><a href={`/${lang}#faq`}>FAQ</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <LanguageSwitcher lang={lang} />
        </div>
        <div class="cs-main_header_right">
          <div class="cs-toolbox">
            <span class="cs-icon_btn">
              <span class="cs-icon_btn_in">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Side Header/Menu -->
<div class="cs-side_header">
  <button class="cs-close"></button>
  <div class="cs-side_header_overlay"></div>
  <div class="cs-side_header_in">
    <div class="cs-side_header_shape"></div>
    <a class="cs-site_branding" href={`/${lang}`}>
      <img
        src="/assets/img/logos/x_logo_transparentpage.png"
        alt="XSoftHub Ventures Logo"
      />
    </a>

    <div class="cs-side_header_box">
      <h2
        class="cs-side_header_heading"
        set:html={t("header.project.question")}
      />
      <p class="cs-side_header_subtitle">{t("header.project.description")}</p>
      <div class="cs-height_25"></div>
      <a href={`/${lang}/contact`} class="cs-text_btn">
        <span>{t("header.project.cta")}</span>
        <Arrow width={26} height={12} />
      </a>
    </div>

    <div class="cs-side_header_box">
      <h3 class="cs-side_header_title cs-primary_color">
        {t("header.contact.title")}
      </h3>
      <ul class="cs-contact_info cs-style1 cs-mp0">
        <li>
          <Phone />
          <span>{t("header.contact.phone")}</span>
        </li>
        <li>
          <Email />
          <span>{t("header.contact.email")}</span>
        </li>
        <li>
          <Location />
          <span set:html={t("header.contact.address")} />
        </li>
      </ul>
    </div>

    <div class="cs-side_header_box">
      <!-- Additional content can be added here -->
    </div>

    <div class="cs-side_header_box">
      <!-- Additional content can be added here -->
    </div>
  </div>
</div>
<!-- End Header Section -->
